@model IEnumerable<ProductModel>
<main id="content" role="main">
    <!-- Vertical-Slider-Category-Banner Section -->
    <div class="mb-6 bg-gray-1 pb-4">
        <div class="container">
            <div class="row no-gutters">
                <!-- Vertical Menu -->
                <div class="col-md-auto d-none d-xl-block">
                    <div class="max-width-270 min-width-270">
                        <!-- Basics Accordion -->
                        <div id="basicsAccordion">
                            <!-- Card -->
                            <div class="card border-0">
                                <div class="card-header card-collapse border-0 flex-center-between bg-primary text-lh-1 rounded-0" id="basicsHeadingOne">
                                    <div class="btn-link btn-remove-focus btn-block pl-4 py-3 card-btn shadow-none rounded-0 border-0 font-weight-bold text-gray-90"
                                         data-toggle="collapse"
                                         data-target="#basicsCollapseOne"
                                         aria-expanded="true"
                                         aria-controls="basicsCollapseOne">
                                        <span class="pl-1 text-gray-90">Tüm Kategoriler</span>
                                    </div>
                                </div>
                                <div id="basicsCollapseOne" class="collapse show vertical-menu rounded-0"
                                     aria-labelledby="basicsHeadingOne"
                                     data-parent="#basicsAccordion">
                                    <div class="card-body p-0">
                                        <nav class="js-mega-menu navbar navbar-expand-xl u-header__navbar u-header__navbar--no-space hs-menu-initialized">
                                            <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
                                                <ul class="navbar-nav u-header__navbar-nav">
                                                    <li class="nav-item u-header__nav-item"
                                                        data-event="hover"
                                                        data-position="left">
                                                        <a href="#" class="nav-link u-header__nav-link font-weight-bold">Günün Fırsatları</a>
                                                    </li>
                                                    <li class="nav-item u-header__nav-item"
                                                        data-event="hover"
                                                        data-position="left">
                                                        <a href="#" class="nav-link u-header__nav-link font-weight-bold">En iyi 100 Teklif</a>
                                                    </li>
                                                    <li class="nav-item u-header__nav-item"
                                                        data-event="hover"
                                                        data-position="left">
                                                        <a href="#" class="nav-link u-header__nav-link font-weight-bold">Yeni Ürünler</a>
                                                    </li>
                                                    @await Component.InvokeAsync("Category")
                                                </ul>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                        <!-- End Basics Accordion -->
                    </div>
                </div>
                <!-- End Vertical Menu -->
                <!-- Slider-Category Section -->
                <div class="col">
                    <div class="max-width-890-wd max-width-660-xl">
                        <!-- Slider -->
                        <div class="slider-bg max-height-345-xl max-height-348-wd">
                            <div class="overflow-hidden">
                                <div class="js-slick-carousel u-slick"
                                     data-pagi-classes="text-center position-absolute right-0 bottom-0 left-0 u-slick__pagination u-slick__pagination--long justify-content-start mb-3 mb-md-5 ml-3 ml-md-4 ml-lg-9 ml-xl-4 ml-wd-9">
                                    <div class="js-slide">
                                        <div class="py-6 py-md-4 px-3 px-md-4 px-lg-9 px-xl-4 px-wd-9">
                                            <div class="row no-gutters">
                                                <div class="col-xl-6 col-6 mt-md-5">
                                                    <h1 class="font-size-58-sm text-lh-57 font-weight-light"
                                                        data-scs-animation-in="fadeInUp">
                                                        THE NEW <span class="d-block font-size-58-sm">STANDARD</span>
                                                    </h1>
                                                    <h6 class="font-size-15-sm font-weight-bold mb-2 mb-md-3"
                                                        data-scs-animation-in="fadeInUp"
                                                        data-scs-animation-delay="200">
                                                        UNDER FAVORABLE SMARTWATCHES
                                                    </h6>
                                                    <div class="mb-2 mb-md-4"
                                                         data-scs-animation-in="fadeInUp"
                                                         data-scs-animation-delay="300">
                                                        <span class="font-size-13">FROM</span>
                                                        <div class="font-size-50 font-weight-bold text-lh-45">$749</div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-6 d-flex align-items-center"
                                                     data-scs-animation-in="zoomIn"
                                                     data-scs-animation-delay="400">
                                                    <img class="img-fluid max-width-300-md" src="../../assets/img/416X420/img1.png" alt="Image Description">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="js-slide">
                                        <div class="py-6 py-md-4 px-3 px-md-4 px-lg-9 px-xl-4 px-wd-9">
                                            <div class="row no-gutters">
                                                <div class="col-xl-6 col-6 mt-md-5">
                                                    <h1 class="font-size-58-sm text-lh-57 font-weight-light"
                                                        data-scs-animation-in="slideInLeft">
                                                        THE NEW <span class="d-block font-size-58-sm">STANDARD</span>
                                                    </h1>
                                                    <h6 class="font-size-15-sm font-weight-bold mb-2 mb-md-3"
                                                        data-scs-animation-in="slideInLeft"
                                                        data-scs-animation-delay="200">
                                                        UNDER FAVORABLE SMARTWATCHES
                                                    </h6>
                                                    <div class="mb-2 mb-md-4"
                                                         data-scs-animation-in="slideInLeft"
                                                         data-scs-animation-delay="300">
                                                        <span class="font-size-13">FROM</span>
                                                        <div class="font-size-50 font-weight-bold text-lh-45">$749</div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-6 d-flex align-items-center"
                                                     data-scs-animation-in="slideInRight"
                                                     data-scs-animation-delay="400">
                                                    <img class="img-fluid max-width-300-md" src="../../assets/img/400X400/img2.png" alt="Image Description">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="js-slide">
                                        <div class="py-6 py-md-4 px-3 px-md-4 px-lg-9 px-xl-4 px-wd-9">
                                            <div class="row no-gutters">
                                                <div class="col-xl-6 col-6 mt-md-5">
                                                    <h1 class="font-size-58-sm text-lh-57 font-weight-light"
                                                        data-scs-animation-in="fadeInUp">
                                                        THE NEW <span class="d-block font-size-58-sm">STANDARD</span>
                                                    </h1>
                                                    <h6 class="font-size-15-sm font-weight-bold mb-2 mb-md-3"
                                                        data-scs-animation-in="fadeInUp"
                                                        data-scs-animation-delay="200">
                                                        UNDER FAVORABLE SMARTWATCHES
                                                    </h6>
                                                    <div class="mb-2 mb-md-4"
                                                         data-scs-animation-in="fadeInUp"
                                                         data-scs-animation-delay="300">
                                                        <span class="font-size-13">FROM</span>
                                                        <div class="font-size-50 font-weight-bold text-lh-45">$749</div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-6 d-flex align-items-center"
                                                     data-scs-animation-in="zoomIn"
                                                     data-scs-animation-delay="400">
                                                    <img class="img-fluid max-width-300-md" src="../../assets/img/400X400/img1.png" alt="Image Description">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Slider -->
                        <!-- Category -->
                        <ul class="list-group list-group-horizontal-sm position-relative z-index-2 flex-row overflow-auto overflow-md-visble">
                            <li class="list-group-item py-2 px-3 px-xl-4 px-wd-5 flex-horizontal-center shadow-on-hover-1 rounded-0 border-top-0 border-bottom-0 flex-shrink-0 flex-md-shrink-1">
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-block py-2 text-center">
                                    <img class="img-fluid mb-1 max-width-100-sm" src="../../assets/img/300X300/img6.jpg" alt="Image Description">
                                    <h6 class="font-size-14 mb-0 text-gray-90 font-weight-semi-bold">Accessories</h6>
                                </a>
                            </li>
                            <li class="list-group-item py-2 px-3 px-xl-4 px-wd-5 flex-horizontal-center shadow-on-hover-1 rounded-0 border-top-0 border-bottom-0 flex-shrink-0 flex-md-shrink-1">
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-block py-2 text-center">
                                    <img class="img-fluid mb-1 max-width-100-sm" src="../../assets/img/300X300/img8.jpg" alt="Image Description">
                                    <h6 class="font-size-14 mb-0 text-gray-90 font-weight-semi-bold">Laptop Speakers</h6>
                                </a>
                            </li>
                            <li class="list-group-item py-2 px-3 px-xl-4 px-wd-5 flex-horizontal-center shadow-on-hover-1 rounded-0 border-top-0 border-bottom-0 flex-shrink-0 flex-md-shrink-1">
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-block py-2 text-center">
                                    <img class="img-fluid mb-1 max-width-100-sm" src="../../assets/img/300X300/img15.jpg" alt="Image Description">
                                    <h6 class="font-size-14 mb-0 text-gray-90 font-weight-semi-bold">All in One</h6>
                                </a>
                            </li>
                            <li class="list-group-item py-2 px-3 px-xl-4 px-wd-5 flex-horizontal-center shadow-on-hover-1 rounded-0 border-top-0 border-bottom-0 flex-shrink-0 flex-md-shrink-1">
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-block py-2 text-center">
                                    <img class="img-fluid mb-1 max-width-100-sm" src="../../assets/img/300X300/img4.jpg" alt="Image Description">
                                    <h6 class="font-size-14 mb-0 text-gray-90 font-weight-semi-bold">Audio Speakers</h6>
                                </a>
                            </li>
                            <li class="list-group-item py-2 px-3 px-xl-4 px-wd-5 flex-horizontal-center shadow-on-hover-1 rounded-0 border-top-0 border-bottom-0 flex-shrink-0 flex-md-shrink-1 d-xl-none d-wd-block">
                                <a href="../shop/product-categories-7-column-full-width.html" class="d-block py-2 text-center">
                                    <img class="img-fluid mb-1 max-width-100-sm" src="../../assets/img/300X300/img14.png" alt="Image Description">
                                    <h6 class="font-size-14 mb-0 text-gray-90 font-weight-semi-bold">Camera</h6>
                                </a>
                            </li>
                        </ul>
                        <!-- End Category -->
                    </div>
                </div>
                <!-- End Slider-Category Section -->
                <!-- Banner -->
                <div class="col-md-auto">
                    <div class="max-width-240-xl">
                        <div class="d-md-flex d-xl-block">
                            <div class="bg-white border-top border-xl-top-0">
                                <a href="../shop/shop.html" class="text-gray-90 position-relative d-block overflow-hidden">
                                    <div class="position-absolute transform-rotate-16-banner">
                                        <img class="img-fluid" src="../../assets/img/140X140/img1.png" alt="Image Description">
                                    </div>
                                    <div class="px-4 py-6 min-height-172">
                                        <div class="mb-2 pb-1 font-size-18 font-weight-light text-ls-n1 text-lh-23">
                                            CATCH BIG <strong>DEALS</strong> ON THE CAMERAS
                                        </div>
                                        <div class="link text-gray-90 font-weight-bold font-size-15" href="#">
                                            Shop now
                                            <span class="link__icon ml-1">
                                                <span class="link__icon-inner"><i class="ec ec-arrow-right-categproes"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="bg-white border-top">
                                <a href="../shop/shop.html" class="text-gray-90 position-relative d-block overflow-hidden">
                                    <div class="position-absolute transform-rotate-16-banner">
                                        <img class="img-fluid" src="../../assets/img/140X140/img2.png" alt="Image Description">
                                    </div>
                                    <div class="px-4 py-6 min-height-172">
                                        <div class="mb-2 pb-1 font-size-18 font-weight-light text-ls-n1 text-lh-23">
                                            CATCH BIG <strong>DEALS</strong> ON THE CAMERAS
                                        </div>
                                        <div class="link text-gray-90 font-weight-bold font-size-15" href="#">
                                            Shop now
                                            <span class="link__icon ml-1">
                                                <span class="link__icon-inner"><i class="ec ec-arrow-right-categproes"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="bg-white border-top">
                                <a href="../shop/shop.html" class="text-gray-90 position-relative d-block overflow-hidden">
                                    <div class="position-absolute transform-rotate-16-banner">
                                        <img class="img-fluid" src="../../assets/img/140X140/img3.png" alt="Image Description">
                                    </div>
                                    <div class="px-4 py-6 min-height-172">
                                        <div class="mb-2 pb-1 font-size-18 font-weight-light text-ls-n1 text-lh-23">
                                            CATCH BIG <strong>DEALS</strong> ON THE CAMERAS
                                        </div>
                                        <div class="link text-gray-90 font-weight-bold font-size-15" href="#">
                                            Shop now
                                            <span class="link__icon ml-1">
                                                <span class="link__icon-inner"><i class="ec ec-arrow-right-categproes"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Banner -->
            </div>
        </div>
    </div>
    <!-- End Vertical-Slider-Category-Banner Section -->
    <div class="container">
        <!-- Deals of The Day -->
        <div class="mb-3">
            <div class="d-flex border-bottom border-color-1 flex-lg-nowrap flex-wrap border-md-down-top-0 border-sm-bottom-0 mb-2 mb-md-0">
                <h3 class="section-title section-title__full mb-0 pb-2 font-size-22">Günün Fırsatları</h3>
                <div class="js-countdown ml-md-5 mt-md-n1 border-top border-color-1 border-md-top-0 w-100 w-md-auto pt-2 pt-md-0 mb-2 mb-md-0"
                     data-end-date="2050/12/31"
                     data-hours-format="%H"
                     data-minutes-format="%M"
                     data-seconds-format="%S">
                    <div class="flex-horizontal-center d-inline-flex bg-primary py-2 align-self-start height-33 px-5 rounded-pill text-gray-2 font-size-15 font-weight-bold text-lh-1">
                        <h5 class="font-size-15 mb-0 font-weight-bold text-lh-1 mr-1">Kalan süre:</h5>
                        <div class="px-1">
                            <span class="js-cd-hours"></span>
                        </div>
                        <div class="">:</div>
                        <div class="px-1">
                            <span class="js-cd-minutes"></span>
                        </div>
                        <div class="">:</div>
                        <div class="px-1">
                            <span class="js-cd-seconds"></span>
                        </div>
                    </div>
                </div>
                <a class="ml-md-auto d-block text-gray-16 align-self-center" href="../shop/product-categories-7-column-full-width.html">Tüm Fırsatları Gör <i class="ec ec-arrow-right-categproes"></i></a>
            </div>
            <div class="js-slick-carousel u-slick overflow-hidden u-slick-overflow-visble pt-3 pb-6 px-1"
                 data-pagi-classes="text-center right-0 bottom-1 left-0 u-slick__pagination u-slick__pagination--long mb-0 z-index-n1 mt-4"
                 data-slides-show="7"
                 data-slides-scroll="1"
                 data-responsive='[{
                          "breakpoint": 1400,
                          "settings": {
                            "slidesToShow": 5
                          }
                        }, {
                            "breakpoint": 1200,
                            "settings": {
                              "slidesToShow": 4
                            }
                        }, {
                          "breakpoint": 992,
                          "settings": {
                            "slidesToShow": 4
                          }
                        }, {
                          "breakpoint": 768,
                          "settings": {
                            "slidesToShow": 3
                          }
                        }, {
                          "breakpoint": 554,
                          "settings": {
                            "slidesToShow": 2
                          }
                        }]'>
                @foreach (var product in Model)
                {
                    <div class="js-slide products-group">
                        <div class="product-item">
                            <div class="product-item__outer h-100">
                                <div class="product-item__inner px-wd-4 p-2 p-md-3">
                                    <div class="product-item__body pb-xl-2">
                                        <div class="mb-2"><a asp-route-category="@product.Categories.First().SeoUrl" asp-action="ProductCategory" asp-controller="Home" class="font-size-12 text-gray-5">@product.Categories.First().Name</a></div>
                                        <h5 class="mb-1 product-item__title"><a asp-route-seo="@product.SeoUrl" asp-action="ProductInfo" asp-controller="Home" class="text-blue font-weight-bold">@product.Name</a></h5>
                                        <div class="mb-2">
                                            <a asp-route-seo="@product.SeoUrl" asp-action="ProductInfo" asp-controller="Home" class="d-block text-center"><img class="img-fluid" src="../../assets/img/212X200/img1.jpg" alt="@product.Name"></a>
                                        </div>
                                        <div class="flex-center-between mb-1 @((product.OldPrice > 0) ? "position-relative": "")">
                                            @if (product.OldPrice > 0)
                                            {
                                                <div class="position-absolute font-size-12 font-weight-bold right-0 top-0 bg-green rounded text-white text-lh-21 px-2 mt-n5">
                                                    @{
                                                        var discount = ((product.OldPrice - product.Price) / product.OldPrice) * 100;
                                                    }
                                                    @Math.Round(discount)%
                                                </div>
                                            }
                                            <div class="prodcut-price @((product.OldPrice > 0) ? "d-flex align-items-center position-relative": "")">
                                                @if (product.OldPrice > 0)
                                                {
                                                    <ins class="font-size-20 text-red text-decoration-none">@Html.Raw(product.Price.ToString("N2")) TL</ins>
                                                    <del class="font-size-12 text-gray-6 position-absolute bottom-100">@product.OldPrice.ToString("N2") TL</del>
                                                }
                                                else
                                                {
                                                    <div class="text-gray-100">@product.Price.ToString("N2") TL</div>
                                                }
                                            </div>
                                            <div class="d-none d-xl-block prodcut-add-cart">
                                                <a href="../shop/single-product-fullwidth.html" class="btn-add-cart btn-primary transition-3d-hover"><i class="ec ec-add-to-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- End Deals of The Day -->
        <!-- Full banner -->
        <div class="mb-6">
            <a href="../shop/shop.html" class="d-block text-gray-90">
                <div class="" style="background-image: url(../../assets/img/1400X206/img1.jpg);">
                    <div class="space-top-2-md p-4 pt-6 pt-md-8 pt-lg-6 pt-xl-8 pb-lg-4 px-xl-8 px-lg-6">
                        <div class="flex-horizontal-center mt-lg-3 mt-xl-0 overflow-auto overflow-md-visble">
                            <h1 class="text-lh-38 font-size-32 font-weight-light mb-0 flex-shrink-0 flex-md-shrink-1">SHOP AND <strong>SAVE BIG</strong> ON HOTTEST TABLETS</h1>
                            <div class="ml-5 flex-content-center flex-shrink-0">
                                <div class="bg-primary rounded-lg px-6 py-2">
                                    <em class="font-size-14 font-weight-light">STARTING AT</em>
                                    <div class="font-size-30 font-weight-bold text-lh-1">
                                        <sup class="">$</sup>79<sup class="">99</sup>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- End Full banner -->
        <!-- Popular Categories this Week -->
        <div class="mb-6">
            <!-- Nav nav-pills -->
            <div class="position-relative text-center z-index-2">
                <div class=" d-flex justify-content-between border-bottom border-color-1 flex-lg-nowrap flex-wrap border-md-down-top-0 border-md-down-bottom-0">
                    <h3 class="section-title mb-0 pb-2 font-size-22">Haftanın En Popülerleri</h3>
                </div>
            </div>
            <!-- End Nav Pills -->
            <div class="row">
                <div class="col-12 col-xl-auto pr-lg-2">
                    <div class="min-width-200 mt-xl-5">
                        <ul class="list-group list-group-flush flex-nowrap flex-xl-wrap flex-row flex-xl-column overflow-auto overflow-xl-visble mb-3 mb-xl-0 border-top border-color-1 border-lg-top-0">
                            <li class="border-color-1 list-group-item border-lg-down-0 flex-shrink-0 flex-xl-shrink-1"><a class="hover-on-bold py-1 px-3 text-gray-90 d-block" href="../shop/product-categories-7-column-full-width.html">Earbuds and In-ear</a></li>
                            <li class="border-color-1 list-group-item border-lg-down-0 flex-shrink-0 flex-xl-shrink-1"><a class="hover-on-bold py-1 px-3 text-gray-90 d-block" href="../shop/product-categories-7-column-full-width.html">Headphones</a></li>
                            <li class="border-color-1 list-group-item border-lg-down-0 flex-shrink-0 flex-xl-shrink-1"><a class="hover-on-bold py-1 px-3 text-gray-90 d-block" href="../shop/product-categories-7-column-full-width.html">Kids' Headphones</a></li>
                            <li class="border-color-1 list-group-item border-lg-down-0 flex-shrink-0 flex-xl-shrink-1"><a class="hover-on-bold py-1 px-3 text-gray-90 d-block" href="../shop/product-categories-7-column-full-width.html">Over-Ear and On-Ear</a></li>
                            <li class="border-color-1 list-group-item border-lg-down-0 flex-shrink-0 flex-xl-shrink-1"><a class="hover-on-bold py-1 px-3 text-gray-90 d-block" href="../shop/product-categories-7-column-full-width.html">PC Gaming Headsets</a></li>
                            <li class="border-color-1 list-group-item border-lg-down-0 flex-shrink-0 flex-xl-shrink-1"><a class="hover-on-bold py-1 px-3 text-gray-90 d-block" href="../shop/product-categories-7-column-full-width.html">Pro &amp; DJ Headset</a></li>
                            <li class="border-color-1 list-group-item border-lg-down-0 flex-shrink-0 flex-xl-shrink-1"><a class="hover-on-bold py-1 px-3 text-gray-90 d-block" href="../shop/product-categories-7-column-full-width.html">Refurbished Headset</a></li>
                            <li class="border-color-1 list-group-item border-lg-down-0 flex-shrink-0 flex-xl-shrink-1"><a class="hover-on-bold py-1 px-3 text-gray-90 d-block" href="../shop/product-categories-7-column-full-width.html">Waterproof Headset</a></li>
                            <li class="border-color-1 list-group-item border-lg-down-0 flex-shrink-0 flex-xl-shrink-1"><a class="hover-on-bold py-1 px-3 text-gray-90 d-block" href="../shop/product-categories-7-column-full-width.html">Wireless and Bluetooth</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-lg-auto">
                    <a href="../shop/shop.html" class="d-block"><img class="img-fluid" src="../../assets/img/370X608/img1.jpg" alt="Image Description"></a>
                </div>
                @await Component.InvokeAsync("PopularProduct")
            </div>
        </div>
        <!-- End Popular Categories this Week -->
        <!-- Banner -->
        <div class="mb-6">
            <div class="row">
                <div class="col-lg-6 mb-4 mb-xl-0">
                    <a href="../shop/shop.html" class="d-block">
                        <img class="img-fluid" src="../../assets/img/690X150/img1.jpg" alt="Image Description">
                    </a>
                </div>
                <div class="col-lg-6 mb-4 mb-xl-0">
                    <a href="../shop/shop.html" class="d-block">
                        <img class="img-fluid" src="../../assets/img/690X150/img2.jpg" alt="Image Description">
                    </a>
                </div>
            </div>
        </div>
        <!-- End Banner -->
        <!-- Headphones -->
        @await Component.InvokeAsync("SingleCategory", "Laptop")
        <!-- End Headphones -->
        <!-- Smartphones & Tablets -->
        @await Component.InvokeAsync("SingleCategory", "Video Card")
        <!-- End Smartphones & Tablets -->
        <!-- Recommendation For You -->
        @await Component.InvokeAsync("RecommendationForYou")
        <!-- End Recommendation For You -->
        <!-- Banners -->
        <div class="mb-6">
            <div class="row">
                <div class="col-lg-8 mb-5">
                    <div class="bg-gray-17">
                        <a href="../shop/shop.html" class="row align-items-center">
                            <div class="col-md-6">
                                <div class="ml-md-7 mt-6 mt-md-0 ml-4 text-gray-90">
                                    <h2 class="font-size-28 font-size-20-lg max-width-270 text-lh-1dot2">G9 Laptops with Ultra 4K HD Display</h2>
                                    <p class="font-size-18 font-size-14-lg text-gray-90 font-weight-light">and the fastest Intel Core i7 processor ever</p>
                                    <div class="text-lh-28">
                                        <span class="font-size-18 font-size-14-lg font-weight-light">from</span>
                                        <span class="font-size-46 font-size-30-lg font-weight-semi-bold"><sup class="">$</sup>399</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img class="img-fluid" src="../../assets/img/446X262/img1.jpg" alt="Image Description">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="h-100">
                        <a href="../shop/shop.html" class="d-block"><img class="img-fluid" src="../../assets/img/446X262/img3.jpg" alt="Image Description"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banners -->
        <!-- Brand Carousel -->
        <div class="container mb-8">
            <div class="py-2 border-top border-bottom">
                <div class="js-slick-carousel u-slick my-1"
                     data-slides-show="5"
                     data-slides-scroll="1"
                     data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-normal u-slick__arrow-centered--y"
                     data-arrow-left-classes="fa fa-angle-left u-slick__arrow-classic-inner--left z-index-9"
                     data-arrow-right-classes="fa fa-angle-right u-slick__arrow-classic-inner--right"
                     data-responsive='[{
                                "breakpoint": 992,
                                "settings": {
                                    "slidesToShow": 2
                                }
                            }, {
                                "breakpoint": 768,
                                "settings": {
                                    "slidesToShow": 1
                                }
                            }, {
                                "breakpoint": 554,
                                "settings": {
                                    "slidesToShow": 1
                                }
                            }]'>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img1.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img2.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img3.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img4.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img5.png" alt="Image Description">
                        </a>
                    </div>
                    <div class="js-slide">
                        <a href="#" class="link-hover__brand">
                            <img class="img-fluid m-auto max-height-50" src="../../assets/img/200X60/img6.png" alt="Image Description">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Carousel -->
    </div>
</main>