@model FilterViewModel

@{
    var formController = "";
    var formAction = "";

    if (Model.FilterType == "name")
    {
        formController = "Home";
        formAction = "ProductSearch";
    }
    if (Model.FilterType == "manufacturer")
    {
        formController = "Home";
        formAction = "ProductManufacturer";
    }
    if (Model.FilterType == "category")
    {
        formController = "Home";
        formAction = "ProductCategory";
    }

    var formClass = ViewBag.FormClass;
}
<div class="border-bottom border-color-1 mb-5">
    <h3 class="section-title section-title__sm mb-0 pb-2 font-size-18">Popüler Filtreler</h3>
</div>
<form id="filterForm" asp-controller="@formController" asp-action="@formAction" method="get">
    @if (Model.ManufacturerFilterViewModel.Count > 0)
    {
        <div class="border-bottom pb-4 mb-4">
            <h4 class="font-size-14 mb-3 font-weight-bold">Şehir</h4>
            <!-- Checkboxes -->
            @foreach (var manufacturer in Model.ManufacturerFilterViewModel)
            {
                <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="@manufacturer.SeoUrl-@formClass" name="marka" value="@manufacturer.SeoUrl" class="custom-control-input">
                        <label class="custom-control-label" for="@manufacturer.SeoUrl-@formClass">@manufacturer.Name</label>
                        <span class="text-gray-25 font-size-12 font-weight-normal"> (@manufacturer.Quantity)</span>
                    </div>
                </div>
            }
            <!-- End Checkboxes -->
        </div>
    }
    @if (Model.CategoryFilterViewModel.Count > 0)
    {
        <div class="border-bottom pb-4 mb-4">
            <h4 class="font-size-14 mb-3 font-weight-bold">Kategori</h4>
            <!-- Checkboxes -->
            @foreach (var category in Model.CategoryFilterViewModel)
            {
                <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="@category.SeoUrl-@formClass" name="kategori" value="@category.SeoUrl" class="custom-control-input">
                        <label class="custom-control-label" for="@category.SeoUrl-@formClass">@category.Name</label>
                        <span class="text-gray-25 font-size-12 font-weight-normal"> (@category.Quantity)</span>
                    </div>
                </div>
            }
            <!-- End Checkboxes -->
        </div>
    }
    @if (Model.PriceGroupings.Count() > 0)
    {
        <div class="border-bottom pb-4 mb-4">
            <h4 class="font-size-14 mb-3 font-weight-bold">Fiyat</h4>
            <!-- Checkboxes -->
            @foreach (var g in Model.PriceGroupings)
            {
                int keyIndex = Model.PriceRange.IndexOf(g.Key);
                int prevIndex = keyIndex - (keyIndex == 0 ? 0 : 1);
                string minPrice = Model.PriceRange[prevIndex].ToString();
                string maxPrice = g.Key.ToString();

                <div class="form-group d-flex align-items-center justify-content-between mb-2 pb-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="@minPrice-@maxPrice-@formClass" name="fiyat" value="@minPrice-@maxPrice" class="custom-control-input">
                        <label class="custom-control-label" for="@minPrice-@maxPrice-@formClass">@minPrice TL - @maxPrice TL</label>
                        <span class="text-gray-25 font-size-12 font-weight-normal"> (@g.Count())</span>
                    </div>
                </div>
            }
            <!-- End Checkboxes -->
        </div>
    }
    <div>
        <button type="submit" class="btn px-4 btn-primary-dark-w py-2 rounded-lg">Filtrele</button>
        <input type="hidden" id="sortByFilter" name="siralama" value="varsayilan" />
    </div>
</form>